.mynerve-regular {
  font-family: "Mynerve", cursive;
  font-weight: 400;
  font-style: normal;
}

.playpen-sans-regular {
  font-family: "Playpen Sans", cursive;
}

* {
  font-family: "Playpen Sans", cursive;
  font-optical-sizing: auto;
  font-size: 15px;
  font-weight: 350;
  font-style: normal;
}

.logo {
  font-family: "Mynerve", cursive;
  font-weight: 200;
  font-style: normal;
  text-align: center;
  color: black;
  transform: rotate(-10deg);

  text-decoration: none;
}

.navbar-nav {
  border-radius: 50px;
  background-color: #fff;
}

.card-title{
  font-size: 14px;
  color: #454545;
}

.card{
  border: 0.5px solid #a7a7a7;
  border-radius: 20px;
}

.card img{
  border-radius: 20px 20px 0 0 ;
}

.card-text{
  font-size: 13px;
  color: #454545;
}

/* Add some space at the top of the body to prevent content from being hidden by the fixed navbar */
#home {
  padding-top: 130px;
}

/* Style for the navbar when the user scrolls */
.navbar-scrolled {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  transition: background-color 0.3s ease-in-out;
}

.arrow-image {
  position: absolute;
  scale: 0.2;
  left: 55%;
  top: 140px;
}

.scroll-image {
  position: absolute;
  scale: 0.8;
  bottom: 10%;
  left: 48%;
}

.circle {
  height: 15px;
  width: 15px;
  border-radius: 15px;

  background-color: black;

  position: fixed;
  top: 0;
  left: 0;
}
